/* index root (common) styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

form {
    font-size: 20px;
    padding: 7px;
}
form input {
    padding: 3px 10px;
    margin: 0 5px 7px 5px;
    font-size: 17px;
}

.titleFont {
    font-family: 'Rubik', 'Roboto', -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Raleway', 'Roboto', -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.block_wrap {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

div.block_content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.defaultFormClass {
    font-size: 20px;
    padding: 7px;
}

.defaultFormClass input {
    padding: 3px 10px;
    margin: 0 5px 7px 5px;
    font-size: 17px;
}

.micon {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}
.micon:hover {
    opacity: 1;
}
