.bottomNav {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 854px;
}
.fit1 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 50px;
    top: 90px;
}
.fit2 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 390px;
    top: 90px;
}

.fit3 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 730px;
    top: 90px;
}
.fit4 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 1070px;
    top: 90px;

    background: #c4c4c4;
    border-radius: 30px;
}

div.outfitItemImage {
    opacity: 0.97;
    transition: opacity 0.3s ease;
}
div.outfitItemImage:hover {
    opacity: 0.5;
}
div.outfitBuyButton {
    background-color: #fe9eb9;
    transition: opacity 0.3s ease;
}
div.outfitBuyButton:hover {
    background-color: #fca7bf;
}
div.newOutfitButton {
    background-color: #fff;
    transition: background-color 0.3s ease;
}
div.newOutfitButton:hover {
    background-color: #fafafa;
}
