.bottomNav {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 854px;
}
.fit1 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 50px;
    top: 90px;
}
.fit2 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 390px;
    top: 90px;
}

.fit3 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 730px;
    top: 90px;
}
.fit4 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 1070px;
    top: 90px;

    background: #c4c4c4;
    border-radius: 30px;
}

div.outfitItemImage {
    opacity: 0.97;
}
div.outfitItemDetail {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: opacity 0.3s ease, background-color 0.3s ease,
        border-color 0.3s ease;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0);
    border-top: 0.5px solid rgba(255, 255, 255, 0);
}
div.outfitItemDetail:hover {
    background-color: rgba(255, 255, 255, 0.65);
    opacity: 1;
    border-color: #f6f6f6;
}
div.outfitBuyButton {
    background-color: #fe9eb9;
    transition: opacity 0.3s ease;
}
div.outfitBuyButton:hover {
    background-color: #fca7bf;
}
div.newOutfitButton {
    background-color: #fff;
    transition: background-color 0.3s ease;
}
div.newOutfitButton:hover {
    background-color: #fafafa;
}

.fitsMoreButton {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.16);
    transition: opacity 0.3s ease, border-radius 0.3s ease;
}
.fitsMoreButtonState1 {
    opacity: 0.65;
    border-radius: 30%;
}
.fitsMoreButtonState1:hover {
    opacity: 0.95;
}
.fitsMoreButtonState2 {
    border-radius: 28% 28% 0 0;
    opacity: 0.75;
}
.fitsMoreButtonState2:hover {
    opacity: 0.95;
}

.fitsEditButton {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.16);
    transition: opacity 0.3s ease;
}
.fitsEditButtonState1 {
    opacity: 0;
    pointer-events: none;
}
.fitsEditButtonState1:hover {
    opacity: 0;
}
.fitsEditButtonState2 {
    opacity: 0.75;
    pointer-events: auto;
}
.fitsEditButtonState2:hover {
    opacity: 0.95;
}

.fitsDeleteButton {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.16);
    transition: opacity 0.3s ease;
}
.fitsDeleteButtonState1 {
    opacity: 0;
    pointer-events: none;
}
.fitsDeleteButtonState1:hover {
    opacity: 0;
}
.fitsDeleteButtonState2 {
    opacity: 0.75;
    pointer-events: auto;
}
.fitsDeleteButtonState2:hover {
    opacity: 0.95;
}
