.bottomNav {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 854px;
}
.fit1 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 50px;
    top: 90px;
}
.fit2 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 390px;
    top: 90px;
}

.fit3 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 730px;
    top: 90px;
}
.fit4 {
    position: absolute;
    width: 292px;
    height: 722px;
    left: 1070px;
    top: 90px;

    background: #c4c4c4;
    border-radius: 30px;
}

div.outfitItemImage {
    opacity: 0.97;
}
div.outfitItemDetail {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: opacity 0.3s ease, background-color 0.3s ease,
        border-color 0.3s ease;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0);
    border-top: 0.5px solid rgba(255, 255, 255, 0);
}
div.outfitItemDetail:hover {
    background-color: rgba(255, 255, 255, 0.65);
    opacity: 1;
    border-color: #f6f6f6;
}
div.outfitBuyButton {
    background-color: #fe9eb9;
    transition: opacity 0.3s ease;
}
div.outfitBuyButton:hover {
    background-color: #fca7bf;
}
div.newOutfitButton {
    background-color: #fff;
    transition: background-color 0.3s ease;
}
div.newOutfitButton:hover {
    background-color: #fafafa;
}
