.bottomNav{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 854px;
}
.fit1{
    position: absolute;
    width: 292px;
    height: 722px;
    left: 50px;
    top: 90px;
    
}
.fit2{
    position: absolute;
    width: 292px;
    height: 722px;
    left: 390px;
    top: 90px;
}

.fit3{
    position: absolute;
    width: 292px;
    height: 722px;
    left: 730px;
    top: 90px; 
}
.fit4{
    position: absolute;
    width: 292px;
    height: 722px;
    left: 1070px;
    top: 90px;
    
    background: #C4C4C4;
    border-radius: 30px;
}