.clothes_border{
    position: absolute;
    width: 713px;
    height: 722px;
    left: 47px;
    top: 100px;
    
    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 32px;
}

.fit_border{
    position: absolute;
    width: 537px;
    height: 591px;
    left: 818px;
    top: 100px;

    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 32px;
}
.infoText{
    position: absolute;
    width: 386px;
    height: 28px;
    left: 798px;
    top: 698px;

}
.product{
    position: absolute;
    width: 221px;
    height: 98px;
    left: 1179px;
    top: 698px;
}

